# EDA
Porpouse of this script is to deeply analize collected data

## Imports

In [29]:
import pandas as pd
import os

## Read data

In [18]:
df = pd.read_csv("../data/raw/weather_data/2024/Warszawa-Okecie_weather_data.csv")

Code	Meaning  
TEMP	Air Temperature  
TAVG	Average Temperature  
TMIN	Minimum Temperature  
TMAX	Maximum Temperature  
DWPT	Dew Point  
PRCP	Total Precipitation  
WDIR	Wind (From) Direction  
WSPD	Average Wind Speed  
WPGT	Wind Peak Gust  
RHUM	Relative Humidity  
PRES	Sea-Level Air Pressure  
SNOW	Snow Depth   
TSUN	Total Sunshine Duration  
COCO	Weather Condition Code

In [28]:
df.head(50)

    tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
0    2.8   1.6   4.4  12.5   NaN  219.0   7.9  25.9  1006.7   NaN
1    4.5   3.6   5.9   1.1   NaN  211.0   9.0  27.8  1005.9   NaN
2    5.4   3.2   8.6  10.4   NaN  179.0   9.8  27.8   993.9   NaN
3    5.9  -1.5   8.1  13.5   NaN  244.0  11.9  40.8   993.7   NaN
4   -1.8  -2.5   4.6   2.8   NaN  274.0  13.7  40.8  1009.8   NaN
5   -2.4  -4.0  -1.1   1.3  30.0   58.0  17.1  33.3  1013.6   NaN
6   -7.3 -10.3  -2.6   0.3  41.0   37.0  18.2  33.3  1020.8   NaN
7  -11.3 -13.4  -9.5   0.0   NaN   30.0  15.9  31.5  1032.1   NaN
8  -10.9 -15.1  -5.6   0.0  41.0  255.0   4.9  16.7  1038.3   NaN
9   -7.3 -10.7  -4.4   0.0  30.0  270.0  11.6  24.1  1032.8   NaN
10  -3.3  -6.8   1.1   0.0  30.0  279.0  17.9  37.0  1022.6   NaN
11  -3.4  -7.7   1.1   1.0  41.0  279.0  14.3  48.2  1022.8   NaN
12  -0.2  -0.8   0.5   1.7   NaN  256.0  16.1  46.3  1011.9   NaN
13   1.2   0.6   1.7   2.4   NaN  251.0  15.6  38.9   998.9   NaN
14   0.6  -1.1   1.7   3.3   NaN  235.0  14.6  42.6   991.4   NaN
15  -5.5 -11.0  -0.1   1.0  89.0  252.0  14.0  42.6  1004.5   NaN
16  -3.7  -7.7  -1.1   1.0   NaN  133.0  11.6  29.6  1003.8   NaN
17   0.0  -1.5   1.7   0.9   NaN  271.0  11.4  29.6   993.4   NaN
18  -2.1  -4.5   1.2   0.8  99.0  255.0  13.8  31.5  1012.3   NaN
19  -0.4  -1.9   0.7   3.2   NaN  255.0  17.4  50.0  1020.8   NaN
20  -1.3  -9.0   1.7   0.0   NaN  174.0   8.2  27.8  1031.0   NaN
21   2.5  -1.8   5.5   0.3   NaN  174.0  11.1  35.2  1018.6   NaN
22   4.6   3.6   6.4   0.0  61.0  240.0  11.7  31.5  1017.6   NaN
23   5.2   2.0   8.6  14.0   NaN  225.0  15.8  50.0  1010.5   NaN
24   4.3   1.7   8.5   9.9   NaN  283.0  26.6  53.7  1010.6   NaN
25   1.4   0.8   2.8   2.8   NaN  266.0  13.2  38.9  1020.3   NaN
26   3.3   0.8   5.0   4.6   NaN  284.0  20.7  42.6  1021.4   NaN
27   3.0  -0.2   4.5   0.0   NaN  262.0   8.9  31.5  1036.3   NaN
28   2.9  -0.5   7.2   0.3   NaN  153.0   8.9  25.9  1036.9   NaN
29   2.1  -1.9   8.3   0.0   NaN  155.0   6.3  18.5  1032.7   NaN
30   4.2  -0.6   7.6   0.0   NaN  233.0   9.6  27.8  1028.5   NaN
31   4.3   3.3   5.9   0.0   NaN  252.0  15.0  40.8  1018.8   NaN
32   3.9   2.7   5.5   0.8   NaN  257.0  15.8  38.9  1020.0   NaN
33   7.9   3.7  10.1   0.8   NaN  268.0  25.2  55.5  1010.0   NaN
34   6.0   4.8   8.8   0.0   NaN  265.0  22.8  50.0  1008.4   NaN
35   6.0   4.0   7.7   4.8   NaN  265.0  22.1  53.7  1003.2   NaN
36   8.3   4.0   9.3   8.4   NaN  253.0  21.5  50.0  1002.1   NaN
37   4.9   1.5   9.5   6.1   NaN  261.0  19.2  50.0   997.3   NaN
38   0.1  -0.8   2.8   3.3   NaN  203.0   7.2  25.9  1004.4   NaN
39   0.5  -0.4   1.5   6.5   NaN  105.0  16.5  37.0   999.9   NaN
40   4.2   1.4   6.9   0.1   NaN  105.0  11.4  29.6   997.6   NaN
41   7.4   4.7  10.1   0.3   NaN  104.0  14.7  35.2   996.3   NaN
42   8.4   7.7   9.4   2.8   NaN  200.0   7.9  22.2   999.0   NaN
43   6.1   4.8   8.6   0.3   NaN  278.0  17.1  35.2  1013.3   NaN
44   4.7  -1.4   9.4   0.0   NaN  188.0   6.6  20.4  1022.5   NaN
45   6.2   3.7   9.2   0.3   NaN  142.0   8.9  20.4  1022.4   NaN
46   8.1   3.3  13.3   0.0   NaN  139.0  10.4  27.8  1021.6   NaN
47   7.7   3.6  11.1   0.3   NaN  255.0  15.0  37.0  1022.4   NaN
48   2.9   0.2   6.9   2.8   NaN  305.0  11.1  31.5  1033.0   NaN
49   2.0  -0.3   5.9   4.5   NaN  152.0  13.7  37.0  1019.8   NaN

In [25]:
df.dtypes

tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun    float64
dtype: object

## NaN' s

In [20]:
df.drop(columns=["station"], inplace=True)

In [21]:
print("tavg:", df.tavg.isna().sum())
print("tmin:", df.tmin.isna().sum())
print("tmax:", df.tmax.isna().sum())
print("prcp:", df.prcp.isna().sum())
print("snow:", df.snow.isna().sum())
print("wdir:", df.wdir.isna().sum())
print("wspd:", df.wspd.isna().sum())
print("wpgt:", df.wpgt.isna().sum())
print("pres:", df.pres.isna().sum())
print("tsun:", df.tsun.isna().sum())

tavg: 0
tmin: 0
tmax: 0
prcp: 8
snow: 307
wdir: 0
wspd: 0
wpgt: 0
pres: 0
tsun: 317

I think that NaN in snow is just 0

In [60]:
df_winter = pd.concat([df[:50], df[335:]])
df_winter['snow'].isna().sum()
print("Snow in winter", 1 - df_winter['snow'].isna().sum()/len(df_winter))

df_not_winter = pd.concat([df[50:335]])
print("Snow in not winter", 1 - df_not_winter['snow'].isna().sum()/len(df_not_winter))

Snow in winter 0.18000000000000005
Snow in not winter 0.0037453183520599342

In [ ]:
import glob
files = glob.glob("../data/raw/weather_data/*/*.csv")
dataframes = [(pd.read_csv(file_name).drop(columns=['station']), file_name) for file_name in files]
dataframes[0][0].head()

   tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt  pres  tsun
0   3.6   1.0   6.0   NaN   NaN  239.0  26.0   NaN   NaN   NaN
1   1.0  -1.0   3.0   NaN   NaN  298.0  30.0   NaN   NaN   NaN
2  -2.3  -4.0  -1.0   NaN   NaN  328.0  22.2   NaN   NaN   NaN
3  -3.0  -7.0   0.0   NaN   NaN  260.0  16.0   NaN   NaN   NaN
4   0.5  -1.0   2.0   NaN   NaN  319.0  19.0   NaN   NaN   NaN

In [38]:
print(files)

['../data/raw/weather_data/2019/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2019/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2019/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2019/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2019/Kozienice_weather_data.csv', '../data/raw/weather_data/2001/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2001/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2001/Kozienice_weather_data.csv', '../data/raw/weather_data/2009/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2009/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2009/Kozienice_weather_data.csv', '../data/raw/weather_data/2023/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2023/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2023/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2023/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2023/Kozienice_weather_data.csv', '../data/raw/weather_data/2008/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2008/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2008/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2008/Kozienice_weather_data.csv', '../data/raw/weather_data/2005/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2005/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2005/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2005/Kozienice_weather_data.csv', '../data/raw/weather_data/2013/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2013/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2013/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2013/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2013/Kozienice_weather_data.csv', '../data/raw/weather_data/2018/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2018/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2018/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2018/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2018/Kozienice_weather_data.csv', '../data/raw/weather_data/2002/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2002/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2002/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2002/Kozienice_weather_data.csv', '../data/raw/weather_data/2022/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2022/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2022/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2022/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2022/Kozienice_weather_data.csv', '../data/raw/weather_data/2024/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2024/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2024/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2024/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2024/Kozienice_weather_data.csv', '../data/raw/weather_data/2014/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2014/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2014/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2014/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2014/Kozienice_weather_data.csv', '../data/raw/weather_data/2006/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2006/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2006/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2006/Kozienice_weather_data.csv', '../data/raw/weather_data/2020/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2020/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2020/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2020/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2020/Kozienice_weather_data.csv', '../data/raw/weather_data/2021/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2021/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2021/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2021/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2021/Kozienice_weather_data.csv', '../data/raw/weather_data/2011/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2011/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2011/Kozienice_weather_data.csv', '../data/raw/weather_data/2004/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2004/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2004/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2004/Kozienice_weather_data.csv', '../data/raw/weather_data/2010/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2010/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2010/Kozienice_weather_data.csv', '../data/raw/weather_data/2015/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2015/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2015/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2015/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2015/Kozienice_weather_data.csv', '../data/raw/weather_data/2000/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2000/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2000/Kozienice_weather_data.csv', '../data/raw/weather_data/2012/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2012/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2012/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2012/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2012/Kozienice_weather_data.csv', '../data/raw/weather_data/2003/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2003/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2003/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2003/Kozienice_weather_data.csv', '../data/raw/weather_data/2017/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2017/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2017/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2017/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2017/Kozienice_weather_data.csv', '../data/raw/weather_data/2016/Warszawa_Modlin_weather_data.csv', '../data/raw/weather_data/2016/Radom_Piastów_weather_data.csv', '../data/raw/weather_data/2016/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2016/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2016/Kozienice_weather_data.csv', '../data/raw/weather_data/2007/Minsk_Janów_weather_data.csv', '../data/raw/weather_data/2007/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2007/Kozienice_weather_data.csv']

In [64]:
columns = df.columns
columns

Index(['tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres',
       'tsun'],
      dtype='object')

In [67]:
nan_tavg = {}
nan_tmin = {}
nan_tmax = {}
nan_prcp = {}
nan_snow = {}
nan_wdir = {}
nan_wspd = {}
nan_wpgt = {}
nan_pres = {}
nan_tsun = {}

In [ ]:

for df, file_name in dataframes:
    station_name = file_name.split("/")[-1].split("_")[0]
    if station_name == "Warszawa":
        station_name = "Warszawa-Modlin"
    year = file_name.split("/")[-2]

    if station_name not in nan_tavg:
        nan_tavg[station_name] = {}
        nan_tmin[station_name] = {}
        nan_tmax[station_name] = {}
        nan_prcp[station_name] = {}
        nan_snow[station_name] = {}
        nan_wdir[station_name] = {}
        nan_wspd[station_name] = {}
        nan_wpgt[station_name] = {}
        nan_pres[station_name] = {}
        nan_tsun[station_name] = {}
    
    nan_tavg[station_name][year] = df.tavg.isna().sum()
    nan_tmin[station_name][year] = df.tmin.isna().sum()
    nan_tmax[station_name][year] = df.tmax.isna().sum()
    nan_prcp[station_name][year] = df.prcp.isna().sum()
    nan_snow[station_name][year] = df.snow.isna().sum()
    nan_wdir[station_name][year] = df.wdir.isna().sum()
    nan_wspd[station_name][year] = df.wspd.isna().sum()
    nan_wpgt[station_name][year] = df.wpgt.isna().sum()
    nan_pres[station_name][year] = df.pres.isna().sum()
    nan_tsun[station_name][year] = df.tsun.isna().sum()

In [86]:
nan_tavg_df = pd.DataFrame(nan_tavg).T.sort_index(axis=1).T.fillna(365)
nan_tmin_df = pd.DataFrame(nan_tmin).T.sort_index(axis=1).T.fillna(365)
nan_tmax_df = pd.DataFrame(nan_tmax).T.sort_index(axis=1).T.fillna(365)
nan_prcp_df = pd.DataFrame(nan_prcp).T.sort_index(axis=1).T.fillna(365)
nan_snow_df = pd.DataFrame(nan_snow).T.sort_index(axis=1).T.fillna(365)
nan_wdir_df = pd.DataFrame(nan_wdir).T.sort_index(axis=1).T.fillna(365)
nan_wspd_df = pd.DataFrame(nan_wspd).T.sort_index(axis=1).T.fillna(365)
nan_wpgt_df = pd.DataFrame(nan_wpgt).T.sort_index(axis=1).T.fillna(365)
nan_pres_df = pd.DataFrame(nan_pres).T.sort_index(axis=1).T.fillna(365)
nan_tsun_df = pd.DataFrame(nan_tsun).T.sort_index(axis=1).T.fillna(365)

### NaN in T AVG

In [87]:
nan_tavg_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  104.0  365.0              0.0      104.0
2001            365.0  104.0  365.0              0.0       99.0
2002            365.0   80.0   47.0              0.0       50.0
2003            365.0   45.0  143.0              0.0       38.0
2004            365.0   63.0   34.0              0.0       56.0
2005            365.0  113.0   55.0              0.0      113.0
2006            365.0    2.0   37.0              0.0      280.0
2007            365.0  365.0   36.0              0.0      183.0
2008            365.0   66.0   61.0              0.0       66.0
2009            365.0  365.0   44.0              0.0        4.0
2010            365.0  365.0   50.0              0.0       10.0
2011            365.0  365.0   30.0              0.0       74.0
2012            130.0   20.0   34.0              0.0       19.0
2013            203.0   33.0   45.0              0.0       31.0
2014              9.0    2.0    3.0              0.0        2.0
2015              1.0    6.0   25.0              0.0        4.0
2016              4.0    4.0    8.0              0.0        4.0
2017              2.0    3.0   20.0              0.0        3.0
2018              6.0    1.0   29.0              0.0        1.0
2019              6.0    0.0   10.0              0.0        0.0
2020             12.0    0.0   20.0              0.0        0.0
2021              0.0    0.0    0.0              0.0        0.0
2022              0.0    0.0    0.0              0.0        0.0
2023              0.0    0.0    0.0              0.0        0.0
2024              0.0    0.0    0.0              0.0        0.0

### NaN in T MIN

In [88]:
nan_tmin_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  104.0  365.0              2.0      104.0
2001            365.0  104.0  365.0              3.0       99.0
2002            365.0   80.0   47.0              9.0       50.0
2003            365.0   45.0  143.0              3.0       38.0
2004            365.0   63.0   34.0              2.0       56.0
2005            365.0  113.0   55.0              1.0      113.0
2006            365.0    2.0   37.0              1.0      280.0
2007            365.0  365.0   36.0              4.0      183.0
2008            365.0   66.0   61.0              0.0       66.0
2009            365.0  365.0   44.0              0.0        4.0
2010            365.0  365.0   50.0              0.0       10.0
2011            365.0  365.0   30.0              0.0       74.0
2012            130.0   20.0   34.0              1.0       19.0
2013            203.0   33.0   45.0              0.0       31.0
2014              9.0    2.0    3.0              0.0        2.0
2015              1.0    6.0   25.0              1.0        4.0
2016              4.0    4.0    8.0              0.0        4.0
2017              2.0    3.0   20.0              0.0        3.0
2018              6.0    1.0   29.0              0.0        1.0
2019              6.0    0.0   10.0              0.0        0.0
2020             12.0    0.0   20.0              0.0        0.0
2021              0.0    0.0    0.0              0.0        0.0
2022              0.0    0.0    0.0              0.0        0.0
2023              0.0    0.0    0.0              0.0        0.0
2024              0.0    0.0    0.0              0.0        0.0

### NaN in T Max

In [89]:
nan_tmax_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  104.0  365.0              0.0      104.0
2001            365.0  104.0  365.0              1.0       99.0
2002            365.0   80.0   47.0              5.0       50.0
2003            365.0   45.0  143.0              1.0       38.0
2004            365.0   63.0   34.0              1.0       56.0
2005            365.0  113.0   55.0              1.0      113.0
2006            365.0    2.0   37.0              1.0      280.0
2007            365.0  365.0   36.0              3.0      183.0
2008            365.0   66.0   61.0              1.0       66.0
2009            365.0  365.0   44.0              1.0        4.0
2010            365.0  365.0   50.0              0.0       10.0
2011            365.0  365.0   30.0              0.0       74.0
2012            130.0   20.0   34.0              0.0       19.0
2013            203.0   33.0   45.0              0.0       31.0
2014              9.0    2.0    3.0              0.0        2.0
2015              1.0    6.0   25.0              1.0        4.0
2016              4.0    4.0    8.0              0.0        4.0
2017              2.0    3.0   20.0              0.0        3.0
2018              6.0    1.0   29.0              0.0        1.0
2019              6.0    0.0   10.0              0.0        0.0
2020             12.0    0.0   20.0              0.0        0.0
2021              0.0    0.0    0.0              0.0        0.0
2022              0.0    0.0    0.0              0.0        0.0
2023              0.0    0.0    0.0              0.0        0.0
2024              0.0    0.0    0.0              0.0        0.0

### NaN in PRCP
We should drop this column becouse there are too much NaNs

In [90]:
nan_prcp_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  366.0  365.0            247.0      366.0
2001            365.0  364.0  365.0            240.0      364.0
2002            365.0  364.0  208.0            188.0      365.0
2003            365.0  365.0  364.0             51.0      365.0
2004            365.0  366.0  365.0             38.0      366.0
2005            365.0  364.0  364.0              1.0      364.0
2006            365.0   32.0  365.0              3.0      321.0
2007            365.0  365.0  365.0              4.0      233.0
2008            365.0   72.0  366.0              0.0       72.0
2009            365.0  365.0  365.0              1.0       10.0
2010            365.0  365.0  365.0              4.0      107.0
2011            365.0  365.0  365.0              4.0      243.0
2012            166.0  360.0  366.0              0.0      360.0
2013            365.0  365.0  365.0              1.0      365.0
2014            304.0  349.0  349.0              2.0      349.0
2015            334.0  360.0  360.0              5.0      360.0
2016            366.0  366.0  366.0              0.0      366.0
2017            365.0  365.0  365.0              2.0      365.0
2018            365.0  365.0  365.0              1.0      365.0
2019            365.0  365.0  315.0              2.0      365.0
2020            366.0  366.0   98.0             24.0      366.0
2021              1.0    1.0    0.0            230.0        1.0
2022              0.0    1.0    1.0             85.0        1.0
2023              0.0    0.0    0.0              0.0        0.0
2024              9.0   15.0    8.0              8.0       14.0

### NaN in snow

In [91]:
nan_snow_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  366.0  365.0            341.0      366.0
2001            365.0  364.0  365.0            306.0      364.0
2002            365.0  364.0  208.0            306.0      365.0
2003            365.0  365.0  364.0            304.0      365.0
2004            365.0  366.0  365.0            305.0      366.0
2005            365.0  364.0  364.0            287.0      364.0
2006            365.0   32.0  365.0            282.0      321.0
2007            365.0  365.0  365.0            342.0      233.0
2008            365.0   72.0  366.0            349.0       72.0
2009            365.0  365.0  365.0            308.0       10.0
2010            365.0  365.0  365.0            260.0      107.0
2011            365.0  365.0  365.0            323.0      243.0
2012            166.0  360.0  366.0            297.0      360.0
2013            365.0  365.0  365.0            291.0      365.0
2014            304.0  349.0  349.0            335.0      349.0
2015            334.0  360.0  360.0            341.0      360.0
2016            366.0  366.0  366.0            327.0      366.0
2017            365.0  365.0  365.0            309.0      365.0
2018            365.0  365.0  365.0            316.0      365.0
2019            365.0  365.0  365.0            336.0      365.0
2020            366.0  366.0  366.0            365.0      366.0
2021            365.0  365.0  365.0            345.0      365.0
2022            365.0  365.0  365.0            356.0      365.0
2023            365.0  365.0  365.0            352.0      365.0
2024            309.0  316.0  309.0            307.0      316.0

### NaN in WDir

In [93]:
nan_wdir_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  234.0  365.0            197.0      234.0
2001            365.0  216.0  365.0            204.0      214.0
2002            365.0  187.0   93.0            179.0      158.0
2003            365.0  173.0  222.0             83.0      154.0
2004            365.0  129.0  119.0             26.0      125.0
2005            365.0  195.0  134.0             44.0      195.0
2006            365.0    8.0  102.0            105.0      296.0
2007            365.0  365.0   86.0            109.0      198.0
2008            365.0   70.0  121.0            110.0       70.0
2009            365.0  365.0  145.0            156.0        8.0
2010            365.0  365.0  125.0            151.0       45.0
2011            365.0  365.0  119.0            160.0      131.0
2012            136.0  100.0  119.0            144.0       91.0
2013            242.0  107.0  134.0            113.0       85.0
2014             89.0   39.0   95.0             64.0       39.0
2015             83.0   41.0  120.0             22.0       28.0
2016             97.0   43.0  108.0              6.0       32.0
2017             68.0   28.0   95.0             11.0       23.0
2018            102.0   15.0   99.0              1.0        9.0
2019             71.0    0.0   38.0              0.0        0.0
2020             52.0    0.0   23.0              0.0        0.0
2021              1.0    0.0    0.0              0.0        0.0
2022              0.0    0.0    0.0              0.0        0.0
2023              0.0    0.0    0.0              0.0        0.0
2024              1.0    0.0    0.0              0.0        0.0

### NaN Wspd

In [94]:
nan_wspd_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  104.0  365.0              6.0      104.0
2001            365.0  104.0  365.0             11.0       99.0
2002            365.0   81.0   47.0             25.0       51.0
2003            365.0   45.0  145.0              6.0       38.0
2004            365.0   63.0   34.0              3.0       56.0
2005            365.0  113.0   56.0              4.0      113.0
2006            365.0    2.0   37.0              5.0      280.0
2007            365.0  365.0   36.0              7.0      183.0
2008            365.0   66.0   62.0              1.0       66.0
2009            365.0  365.0   46.0              1.0        4.0
2010            365.0  365.0   50.0              0.0       10.0
2011            365.0  365.0   30.0              0.0       74.0
2012            130.0   20.0   34.0              1.0       19.0
2013            203.0   91.0   45.0              0.0       31.0
2014              9.0   39.0    3.0              1.0       39.0
2015              1.0   41.0   27.0              1.0        5.0
2016              4.0   43.0    9.0              0.0        4.0
2017              2.0   26.0   20.0              0.0        5.0
2018              6.0   15.0   29.0              0.0        3.0
2019              6.0    0.0   10.0              0.0        0.0
2020             12.0    0.0   20.0              0.0        0.0
2021              0.0    0.0    0.0              0.0        0.0
2022              0.0    0.0    0.0              0.0        0.0
2023              0.0    0.0    0.0              0.0        0.0
2024              0.0    0.0    0.0              0.0        0.0

### NaN in wpgt

In [95]:
nan_wpgt_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  366.0  365.0            366.0      366.0
2001            365.0  364.0  365.0            365.0      364.0
2002            365.0  364.0  208.0            365.0      365.0
2003            365.0  365.0  364.0            365.0      365.0
2004            365.0  366.0  365.0            366.0      366.0
2005            365.0  364.0  364.0            365.0      364.0
2006            365.0   32.0  365.0            365.0      321.0
2007            365.0  365.0  365.0            365.0      233.0
2008            365.0   72.0  366.0            366.0       72.0
2009            365.0  365.0  365.0            365.0       10.0
2010            365.0  365.0  365.0            365.0      107.0
2011            365.0  365.0  365.0            365.0      243.0
2012            166.0  360.0  366.0            366.0      360.0
2013            365.0  365.0  365.0            365.0      365.0
2014            304.0  349.0  349.0            365.0      349.0
2015            334.0  360.0  360.0            365.0      360.0
2016            366.0  366.0  366.0            366.0      366.0
2017            365.0  365.0  365.0            365.0      365.0
2018            365.0  201.0  365.0            201.0      201.0
2019            365.0    0.0  365.0              0.0        0.0
2020            366.0    0.0  366.0              0.0        0.0
2021            365.0    0.0  365.0              0.0        0.0
2022            365.0   11.0  365.0             11.0       11.0
2023            365.0    0.0  365.0              0.0        0.0
2024            309.0    0.0  309.0              0.0        0.0

### Nan in pres

In [96]:
nan_pres_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  108.0  365.0             25.0      108.0
2001            365.0  106.0  365.0             62.0      100.0
2002            365.0   85.0   49.0             66.0       52.0
2003            365.0   48.0  150.0             17.0       40.0
2004            365.0   67.0   65.0             65.0       61.0
2005            365.0  113.0   85.0             15.0      113.0
2006            365.0    2.0   40.0            291.0      281.0
2007            365.0  365.0   55.0            365.0      187.0
2008            365.0   67.0  111.0            366.0       67.0
2009            365.0  365.0  125.0            365.0        7.0
2010            365.0  365.0  116.0            365.0       27.0
2011            365.0  365.0   50.0            365.0       89.0
2012            166.0   20.0   36.0             23.0       19.0
2013            365.0   33.0   68.0             33.0       31.0
2014            304.0    2.0    9.0             17.0        2.0
2015            334.0    6.0   68.0              7.0        5.0
2016            366.0    4.0   22.0              0.0        4.0
2017            365.0    3.0   26.0              0.0        3.0
2018            365.0    1.0   55.0              0.0        1.0
2019            365.0    0.0   16.0              0.0        0.0
2020             36.0    0.0   26.0              0.0        0.0
2021              0.0    0.0    0.0              0.0        0.0
2022              0.0    0.0    0.0              0.0        0.0
2023              0.0    0.0    0.0              0.0        0.0
2024              8.0    0.0    0.0              0.0        0.0

### Nan in tsun

In [97]:
nan_tsun_df

      Warszawa-Modlin  Radom  Minsk  Warszawa-Okecie  Kozienice
2000            365.0  366.0  365.0            366.0      366.0
2001            365.0  364.0  365.0            365.0      364.0
2002            365.0  364.0  208.0            365.0      365.0
2003            365.0  365.0  364.0            365.0      365.0
2004            365.0  366.0  365.0            366.0      366.0
2005            365.0  364.0  364.0            365.0      364.0
2006            365.0   32.0  365.0            365.0      321.0
2007            365.0  365.0  365.0            365.0      233.0
2008            365.0   72.0  366.0            366.0       72.0
2009            365.0  365.0  365.0            365.0       10.0
2010            365.0  365.0  365.0            365.0      107.0
2011            365.0  365.0  365.0            365.0      243.0
2012            166.0  360.0  366.0            366.0      360.0
2013            365.0  365.0  365.0            365.0      365.0
2014            304.0  349.0  349.0            365.0      349.0
2015            334.0  360.0  360.0            365.0      360.0
2016            366.0  366.0  366.0            366.0      366.0
2017            365.0  365.0  365.0            365.0      365.0
2018            365.0  365.0  365.0            365.0      365.0
2019            365.0  365.0  365.0            365.0      365.0
2020            366.0  366.0  366.0            366.0      366.0
2021            365.0  365.0  365.0            365.0      365.0
2022            365.0  365.0  365.0            365.0      365.0
2023            365.0  365.0  365.0            365.0      365.0
2024            309.0  316.0  309.0            317.0      316.0

### Conclusions
After a thorough analysis of the occurrence of NaN values, I conclude that it makes sense to use data from 2014 onwards for these locations or to consider using only the data from the Okęcie station(2000 - 2024).

- For the parameter **snow** at the Okęcie station, it is reasonable to assume that NaN values indicate 0 (no snow). However, this assumption does not hold true for any other station.

- The parameter **prcp** (precipitation) has an acceptable amount of NaN values only at the Okęcie station.
- The parameter **wpgt** (wind peak gust) can be considered irrelevant as it represents peak wind gusts.
- The parameter **pres** (pressure) seems acceptable except for Modlin up to 2019.
- The parameter **tsun** (total sunshine duration) can also be considered irrelevant.

Other parameters appear to be relatively easy to interpolate for the years 2014-2024.

It may be worth considering another location for more reliable and complete data.