# EDA
Porpouse of this script is to deeply analize collected data

## Imports

In [325]:
import pandas as pd
import os
import glob

## Read data

In [326]:
df = pd.read_csv("../data/raw/weather_data/2023/Warszawa-Okecie_weather_data.csv")

Code	Meaning  
TEMP	Air Temperature  
TAVG	Average Temperature  
TMIN	Minimum Temperature  
TMAX	Maximum Temperature  
DWPT	Dew Point  
PRCP	Total Precipitation  
WDIR	Wind (From) Direction  
WSPD	Average Wind Speed  
WPGT	Wind Peak Gust  
RHUM	Relative Humidity  
PRES	Sea-Level Air Pressure  
SNOW	Snow Depth   
TSUN	Total Sunshine Duration  
COCO	Weather Condition Code

In [327]:
df.head(15)

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,station
0,15.1,12.0,18.7,0.0,NaN,229.0,13.2,35.2,1017.0,NaN,Warszawa-Okecie
1,10.3,7.6,14.1,0.0,NaN,166.0,8.1,22.2,1019.4,NaN,Warszawa-Okecie
2,7.2,4.1,11.5,0.1,NaN,259.0,17.6,37.0,1024.0,NaN,Warszawa-Okecie
3,2.7,-3.0,6.7,3.2,NaN,184.0,10.4,35.2,1021.0,NaN,Warszawa-Okecie
4,7.1,2.7,9.0,8.1,NaN,263.0,24.9,48.2,1005.5,NaN,Warszawa-Okecie
5,0.7,-0.1,5.4,2.5,NaN,55.0,13.5,44.5,1020.5,NaN,Warszawa-Okecie
6,3.9,-0.1,7.1,3.3,NaN,165.0,6.0,22.2,1020.2,NaN,Warszawa-Okecie
7,3.1,2.2,5.1,0.0,NaN,127.0,16.5,31.5,1014.8,NaN,Warszawa-Okecie
8,4.7,2.7,7.0,3.2,NaN,135.0,12.5,27.8,1004.8,NaN,Warszawa-Okecie
9,5.1,2.1,7.1,2.3,NaN,291.0,12.5,24.1,1013.8,NaN,Warszawa-Okecie
10,2.9,1.8,4.0,0.0,NaN,151.0,10.7,24.1,1018.8,NaN,Warszawa-Okecie
11,6.0,3.2,8.6,1.8,NaN,175.0,9.9,24.1,1015.0,NaN,Warszawa-Okecie
12,7.2,5.6,8.7,2.6,NaN,172.0,11.1,25.9,1011.1,NaN,Warszawa-Okecie
13,5.6,4.0,8.5,0.5,NaN,187.0,8.4,24.1,1015.5,NaN,Warszawa-Okecie
14,5.2,4.0,7.6,3.1,NaN,165.0,13.8,35.2,1005.4,NaN,Warszawa-Okecie

In [328]:
df.dtypes

tavg       float64
tmin       float64
tmax       float64
prcp       float64
snow       float64
wdir       float64
wspd       float64
wpgt       float64
pres       float64
tsun       float64
station     object
dtype: object

## NaN' s

In [329]:
df.drop(columns=["station"], inplace=True)

In [330]:
print("tavg:", df.tavg.isna().sum())
print("tmin:", df.tmin.isna().sum())
print("tmax:", df.tmax.isna().sum())
print("prcp:", df.prcp.isna().sum())
print("snow:", df.snow.isna().sum())
print("wdir:", df.wdir.isna().sum())
print("wspd:", df.wspd.isna().sum())
print("wpgt:", df.wpgt.isna().sum())
print("pres:", df.pres.isna().sum())
print("tsun:", df.tsun.isna().sum())

tavg: 0
tmin: 0
tmax: 0
prcp: 0
snow: 352
wdir: 0
wspd: 0
wpgt: 0
pres: 0
tsun: 365

I think that NaN in snow is just 0

In [331]:
df_winter = pd.concat([df[:50], df[335:]])
df_winter['snow'].isna().sum()
print("Snow in winter", 1 - df_winter['snow'].isna().sum()/len(df_winter))

df_not_winter = pd.concat([df[50:335]])
print("Snow in not winter", 1 - df_not_winter['snow'].isna().sum()/len(df_not_winter))

Snow in winter 0.09999999999999998
Snow in not winter 0.01754385964912286

In [332]:
import glob
files = glob.glob("../data/raw/weather_data/*/*.csv")

dataframes = [(pd.read_csv(file_name).drop(columns=['station']), file_name) for file_name in files]
dataframes[0][0].head()

   tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
0   2.4  -1.5   5.5   0.0   NaN  225.0  19.2  50.0  1019.3   NaN
1   0.3  -1.6   5.4   6.1  10.0  266.0  25.2  51.8  1013.3   NaN
2  -2.6  -3.5  -0.7   1.0  20.0  284.0  21.0  42.6  1024.0   NaN
3  -3.3  -4.6  -1.8   0.5  41.0  242.0  15.5  31.5  1027.0   NaN
4   0.6  -3.6   2.1   2.3  71.0  256.0  18.0  38.9  1014.7   NaN

In [333]:
print(files)

['../data/raw/weather_data/2019/Krakow_weather_data.csv', '../data/raw/weather_data/2019/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2019/Bialystok_weather_data.csv', '../data/raw/weather_data/2019/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2019/Poznan_weather_data.csv', '../data/raw/weather_data/2009/Krakow_weather_data.csv', '../data/raw/weather_data/2009/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2009/Bialystok_weather_data.csv', '../data/raw/weather_data/2009/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2009/Poznan_weather_data.csv', '../data/raw/weather_data/2023/Krakow_weather_data.csv', '../data/raw/weather_data/2023/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2023/Bialystok_weather_data.csv', '../data/raw/weather_data/2023/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2023/Poznan_weather_data.csv', '../data/raw/weather_data/2008/Krakow_weather_data.csv', '../data/raw/weather_data/2008/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2008/Bialystok_weather_data.csv', '../data/raw/weather_data/2008/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2008/Poznan_weather_data.csv', '../data/raw/weather_data/2005/Krakow_weather_data.csv', '../data/raw/weather_data/2005/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2005/Bialystok_weather_data.csv', '../data/raw/weather_data/2005/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2005/Poznan_weather_data.csv', '../data/raw/weather_data/2013/Krakow_weather_data.csv', '../data/raw/weather_data/2013/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2013/Bialystok_weather_data.csv', '../data/raw/weather_data/2013/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2013/Poznan_weather_data.csv', '../data/raw/weather_data/2018/Krakow_weather_data.csv', '../data/raw/weather_data/2018/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2018/Bialystok_weather_data.csv', '../data/raw/weather_data/2018/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2018/Poznan_weather_data.csv', '../data/raw/weather_data/2022/Krakow_weather_data.csv', '../data/raw/weather_data/2022/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2022/Bialystok_weather_data.csv', '../data/raw/weather_data/2022/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2022/Poznan_weather_data.csv', '../data/raw/weather_data/2024/Krakow_weather_data.csv', '../data/raw/weather_data/2024/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2024/Bialystok_weather_data.csv', '../data/raw/weather_data/2024/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2024/Poznan_weather_data.csv', '../data/raw/weather_data/2014/Krakow_weather_data.csv', '../data/raw/weather_data/2014/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2014/Bialystok_weather_data.csv', '../data/raw/weather_data/2014/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2014/Poznan_weather_data.csv', '../data/raw/weather_data/2006/Krakow_weather_data.csv', '../data/raw/weather_data/2006/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2006/Bialystok_weather_data.csv', '../data/raw/weather_data/2006/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2006/Poznan_weather_data.csv', '../data/raw/weather_data/2020/Krakow_weather_data.csv', '../data/raw/weather_data/2020/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2020/Bialystok_weather_data.csv', '../data/raw/weather_data/2020/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2020/Poznan_weather_data.csv', '../data/raw/weather_data/2021/Krakow_weather_data.csv', '../data/raw/weather_data/2021/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2021/Bialystok_weather_data.csv', '../data/raw/weather_data/2021/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2021/Poznan_weather_data.csv', '../data/raw/weather_data/2011/Krakow_weather_data.csv', '../data/raw/weather_data/2011/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2011/Bialystok_weather_data.csv', '../data/raw/weather_data/2011/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2011/Poznan_weather_data.csv', '../data/raw/weather_data/2004/Krakow_weather_data.csv', '../data/raw/weather_data/2004/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2004/Bialystok_weather_data.csv', '../data/raw/weather_data/2004/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2004/Poznan_weather_data.csv', '../data/raw/weather_data/2010/Krakow_weather_data.csv', '../data/raw/weather_data/2010/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2010/Bialystok_weather_data.csv', '../data/raw/weather_data/2010/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2010/Poznan_weather_data.csv', '../data/raw/weather_data/2015/Krakow_weather_data.csv', '../data/raw/weather_data/2015/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2015/Bialystok_weather_data.csv', '../data/raw/weather_data/2015/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2015/Poznan_weather_data.csv', '../data/raw/weather_data/2012/Krakow_weather_data.csv', '../data/raw/weather_data/2012/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2012/Bialystok_weather_data.csv', '../data/raw/weather_data/2012/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2012/Poznan_weather_data.csv', '../data/raw/weather_data/2017/Krakow_weather_data.csv', '../data/raw/weather_data/2017/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2017/Bialystok_weather_data.csv', '../data/raw/weather_data/2017/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2017/Poznan_weather_data.csv', '../data/raw/weather_data/2016/Krakow_weather_data.csv', '../data/raw/weather_data/2016/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2016/Bialystok_weather_data.csv', '../data/raw/weather_data/2016/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2016/Poznan_weather_data.csv', '../data/raw/weather_data/2007/Krakow_weather_data.csv', '../data/raw/weather_data/2007/Wroclaw_I_weather_data.csv', '../data/raw/weather_data/2007/Bialystok_weather_data.csv', '../data/raw/weather_data/2007/Warszawa-Okecie_weather_data.csv', '../data/raw/weather_data/2007/Poznan_weather_data.csv']

In [334]:
columns = df.columns
columns

Index(['tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir', 'wspd', 'wpgt', 'pres',
       'tsun'],
      dtype='object')

In [335]:
nan_tavg = {}
nan_tmin = {}
nan_tmax = {}
nan_prcp = {}
nan_snow = {}
nan_wdir = {}
nan_wspd = {}
nan_wpgt = {}
nan_pres = {}
nan_tsun = {}

In [336]:

for df, file_name in dataframes:
    station_name = file_name.split("/")[-1].split("_")[0]
    if station_name == "Warszawa":
        station_name = "Warszawa-Modlin"
    year = file_name.split("/")[-2]

    if station_name not in nan_tavg:
        nan_tavg[station_name] = {}
        nan_tmin[station_name] = {}
        nan_tmax[station_name] = {}
        nan_prcp[station_name] = {}
        nan_snow[station_name] = {}
        nan_wdir[station_name] = {}
        nan_wspd[station_name] = {}
        nan_wpgt[station_name] = {}
        nan_pres[station_name] = {}
        nan_tsun[station_name] = {}
    
    nan_tavg[station_name][year] = df.tavg.isna().sum()
    nan_tmin[station_name][year] = df.tmin.isna().sum()
    nan_tmax[station_name][year] = df.tmax.isna().sum()
    nan_prcp[station_name][year] = df.prcp.isna().sum()
    nan_snow[station_name][year] = df.snow.isna().sum()
    nan_wdir[station_name][year] = df.wdir.isna().sum()
    nan_wspd[station_name][year] = df.wspd.isna().sum()
    nan_wpgt[station_name][year] = df.wpgt.isna().sum()
    nan_pres[station_name][year] = df.pres.isna().sum()
    nan_tsun[station_name][year] = df.tsun.isna().sum()

In [337]:
nan_tavg_df = pd.DataFrame(nan_tavg).T.sort_index(axis=1).T.fillna(365)
nan_tmin_df = pd.DataFrame(nan_tmin).T.sort_index(axis=1).T.fillna(365)
nan_tmax_df = pd.DataFrame(nan_tmax).T.sort_index(axis=1).T.fillna(365)
nan_prcp_df = pd.DataFrame(nan_prcp).T.sort_index(axis=1).T.fillna(365)
nan_snow_df = pd.DataFrame(nan_snow).T.sort_index(axis=1).T.fillna(365)
nan_wdir_df = pd.DataFrame(nan_wdir).T.sort_index(axis=1).T.fillna(365)
nan_wspd_df = pd.DataFrame(nan_wspd).T.sort_index(axis=1).T.fillna(365)
nan_wpgt_df = pd.DataFrame(nan_wpgt).T.sort_index(axis=1).T.fillna(365)
nan_pres_df = pd.DataFrame(nan_pres).T.sort_index(axis=1).T.fillna(365)
nan_tsun_df = pd.DataFrame(nan_tsun).T.sort_index(axis=1).T.fillna(365)

### NaN in T AVG

In [338]:
nan_tavg_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004       0        0          0                0       0
2005       0        0          0                0       0
2006       0        0          0                0       0
2007       0        0          1                0       0
2008       0        0          0                0       0
2009       0        0          0                0       0
2010       0        0          0                0       0
2011       0        0          0                0       0
2012       0        0          0                0       0
2013       0        0          0                0       0
2014       0        0          0                0       0
2015       0        0          0                0       0
2016       0        0          0                0       0
2017       0        0          0                0       0
2018       0        0          0                0       0
2019       0        0          0                0       0
2020       0        0          0                0       0
2021       0        0          0                0       0
2022       0        0          0                0       0
2023       0        0          0                0       0
2024       0        0          0                0       0

### NaN in T MIN

In [339]:
nan_tmin_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004       3        4         30                2       3
2005       3        0         13                1       1
2006       3        0         69                1       6
2007       5        4         82                4       4
2008       1        0         76                0       1
2009       0        0         74                0       0
2010       0        1         73                0       0
2011       0        0         80                0       0
2012       1        1          8                1       1
2013       0        0          7                0       0
2014       1        0          5                0       1
2015       1        0          3                1       0
2016       0        0          1                0       0
2017       0        0          0                0       0
2018       0        0          1                0       0
2019       0        0          0                0       0
2020       0        0          0                0       0
2021       0        0          0                0       0
2022       0        0          0                0       0
2023       0        0          0                0       0
2024       0        0          0                0       0

### NaN in T Max

In [340]:
nan_tmax_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004       1        2          2                1       0
2005       2        0          2                1       1
2006       2        3          9                1       2
2007       2        2         18                3       2
2008       0        1         16                1       0
2009       1        1         17                1       1
2010       1        0          9                0       0
2011       0        0         16                0       0
2012       0        0          3                0       0
2013       0        0          2                0       0
2014       1        0          2                0       0
2015       1        1          0                1       0
2016       0        0          1                0       0
2017       0        0          2                0       0
2018       0        0          0                0       0
2019       0        0          0                0       0
2020       0        0          0                0       0
2021       0        0          0                0       0
2022       0        0          0                0       0
2023       0        0          0                0       0
2024       0        0          0                0       0

### NaN in PRCP

In [341]:
nan_prcp_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004      57       43         51               38      31
2005      29        8          2                1      10
2006      21        2          1                3       2
2007       9        5          2                4       3
2008       6        0          0                0       0
2009       3        1          2                1       0
2010       3        2         11                4       5
2011       6        5         14                4       2
2012       0        0          2                0       0
2013       2        0          0                1       0
2014       1        1          1                2       1
2015       7        3          3                5       2
2016       1        0          1                0       1
2017       1        1          0                2       1
2018       2        2          3                1       2
2019       1        1          0                2       0
2020       7        9          8               24      29
2021      77      211        182              230     225
2022      43       95         46               85     104
2023       0        0          0                0       0
2024      13       14          8                8      14

### NaN in snow

In [342]:
nan_snow_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004     292      327        279              305     322
2005     287      309        274              287     307
2006     277      283        274              282     316
2007     312      349        316              342     347
2008     336      354        320              349     351
2009     305      312        280              308     318
2010     264      267        254              260     271
2011     335      334        292              323     329
2012     306      337        285              297     333
2013     293      314        262              291     296
2014     346      349        301              335     346
2015     329      351        338              341     354
2016     330      338        296              327     341
2017     307      333        301              309     339
2018     313      345        301              316     341
2019     335      348        313              336     343
2020     352      361        349              365     364
2021     310      326        329              345     352
2022     342      361        351              356     364
2023     342      351        340              352     353
2024     308      309        289              308     307

### NaN in WDir

In [343]:
nan_wdir_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004     201       54        176               26      39
2005     218       59        180               44      35
2006     261       98        343              105      46
2007     169       79        365              109      42
2008     193       81        366              110      34
2009     167      128        365              156      99
2010     166      140        365              151      99
2011     185      138        365              160      90
2012     106       68        143              144     136
2013     104       33        148              113      80
2014     125       24         95               64      79
2015      74       13        101               22      53
2016      42        9         88                6      14
2017      47        2         66               11       0
2018      18        0         32                1       0
2019       0        0          8                0       0
2020       0        0          0                0       0
2021       0        0          0                0       0
2022       0        0          0                0       0
2023       0        0          0                0       0
2024       0        0          0                0       0

### NaN Wspd

In [344]:
nan_wspd_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004       3        4        103                3       4
2005       4        2        114                4       3
2006       6        5        335                5       8
2007       8        7        365                7       6
2008       1        1        366                1       1
2009       1        1        365                1       1
2010       1        1        365                0       0
2011       0        0        365                0       0
2012       1        1         23                1       1
2013       0        0        126                0       0
2014       1        1         95                1       1
2015       1        2        101                1       1
2016       0        0         88                0       0
2017       0        0         64                0       0
2018       0        0         29                0       0
2019       0        0          0                0       0
2020       0        0          0                0       0
2021       0        0          0                0       0
2022       0        0          0                0       0
2023       0        0          0                0       0
2024       0        0          0                0       0

### NaN in wpgt

In [345]:
nan_wpgt_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004     366      366        366              366     366
2005     365      365        365              365     365
2006     365      365        365              365     365
2007     365      365        365              365     365
2008     366      366        366              366     366
2009     365      365        365              365     365
2010     365      365        365              365     365
2011     365      365        365              365     365
2012     366      366        366              366     366
2013     365      365        365              365     365
2014     365      365        365              365     365
2015     365      365        365              365     365
2016     366      366        366              366     366
2017     365      365        365              365     365
2018     201      201        201              201     201
2019       0        0          0                0       0
2020       0        0          0                0       0
2021       0        0          0                0       0
2022      11       11          0               11      11
2023       0        0          0                0       0
2024       0        0          0                0       0

### Nan in pres

In [346]:
nan_pres_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004      82       61        105               65      67
2005      16       12        114               15      13
2006     294      291        335              291     292
2007     365      365        365              365     365
2008     366      366        366              366     366
2009     365      365        365              365     365
2010     365      365        365              365     365
2011     365      365        365              365     365
2012      27       25         23               23      24
2013      33       32         33               33      32
2014      17       17         18               17      17
2015       8        7         11                7       7
2016       0        0          4                0       0
2017       0        0          3                0       0
2018       0        0          1                0       0
2019       0        0          0                0       0
2020       0        0          0                0       0
2021       0        0          0                0       0
2022       0        0          0                0       0
2023       0        0          0                0       0
2024       0        0          0                0       0

### Nan in tsun

In [347]:
nan_tsun_df

      Krakow  Wroclaw  Bialystok  Warszawa-Okecie  Poznan
2004     366      366        366              366     366
2005     365      365        365              365     365
2006     365      365        365              365     365
2007     365      365        365              365     365
2008     366      366        366              366     366
2009     365      365        365              365     365
2010     365      365        365              365     365
2011     365      365        365              365     365
2012     366      366        366              366     366
2013     365      365        365              365     365
2014     365      365        365              365     365
2015     365      365        365              365     365
2016     366      366        366              366     366
2017     365      365        365              365     365
2018     365      365        365              365     365
2019     365      365        365              365     365
2020     366      366        366              366     366
2021     365      365        365              365     365
2022     365      365        365              365     365
2023     365      365        365              365     365
2024     318      318        318              318     318

### Conclusions
After a thorough analysis of the occurrence of NaN values, I conclude that it makes sense to use data from 2012.
- All temperature features can be easily interpolated; there are just a few missing values.
- For the parameter **snow**, it is reasonable to assume that NaN values indicate 0 (no snow).
- For the parameter **prcp** (precipitation), we should look closely at the years 2021 and 2022 because there are a lot of missing values.
- The parameters **wspd** (wind speed) and **wdir** (wind direction) should be carefully interpolated, particularly in Biaystok (2014-2018), where there are a lot of missing values.
- The parameter **wpgt** (wind peak gust) can be considered irrelevant as it represents peak wind gusts.
- The parameter **pres** (pressure) seems acceptable, but it needs some interpolation.
- The parameter **tsun** (total sunshine duration) can be considered irrelevant due to the high amount of NaN values.